#services:
#  mysql:
#    image: mysql:latest
#    environment:
#      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#      MYSQL_DATABASE: ${MYSQL_DATABASE}
#      TZ: Asia/Seoul
#    volumes:
#      - ./mysql_data:/var/lib/mysql
#    ports:
#      - 3306:3306
#    healthcheck:
#      test: [ "CMD", "mysqladmin", "ping" ] # MySQL이 healthy 한 지 판단할 수 있는 명령어
#      interval: 5s # 5초 간격으로 체크
#      retries: 10 # 10번까지 재시도
#
#  redis:
#    image: redis:latest
#    ports:
#      - 6379:6379
#    healthcheck:
#      test: [ "CMD", "redis-cli", "ping" ]
#      interval: 5s
#      retries: 10
#
#  graduate:
#    env_file:
#      - .env
#    image: mark117/graduate:latest  # 이미지 이름을 명시적으로 설정
#    ports:
#      - 8080:8080
#    environment:
#      SPRING_PROFILES_ACTIVE: prod  # Spring 프로파일을 prod로 설정
#    depends_on:
#      mysql:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#
#  dozzle:
#    image: amir20/dozzle:latest
#    container_name: dozzle
#    ports:
#      - "8081:8080"
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock  # 로그 접근을 위한 도커 소켓 마운트
#    restart: unless-stopped
#
#  prometheus:
#    image: prom/prometheus:latest
#    container_name: prometheus
#    ports:
#      - "9090:9090"
#    volumes:
#      - ./prometheus.yml:/etc/prometheus/prometheus.yml
#
#  grafana:
#    image: grafana/grafana
#    container_name: grafana
#    ports:
#      - "3000:3000"
#    volumes:
#      - grafana-storage:/var/lib/grafana
#
#  node-exporter:
#    image: prom/node-exporter
#    container_name: node-exporter
#    ports:
#      - "9100:9100"
#
#volumes:
#  mysql_data:
#  grafana-storage: